header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 999;
    background-color: var(--background);
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        cursor: pointer;
    }
    nav {
        display: flex;
        a {
            color: var(--white);
            text-decoration: none;
            font-size: 23px;
            margin-left: 50px;
            cursor: pointer;
            &:hover {
                color: var(--light-blue);
                transition: 0.5s;
            }
            &::after {
                content: '';
                display: block;
                position: relative;
                width: 50px;
                border-bottom: 4px solid transparent;
            }
        }
    }
    .nav-responsiv-menu, .close-nav-responsiv-animation {
        display: none;
    }
}

.active::after {
    content: '';
    display: block;
    position: relative;
    width: 50px;
    border-bottom: 4px solid var(--purple)!important;
}

.active {
    color: var(--light-blue)!important;
}

.nav-responsiv {
    display: none;
    width: 40px;
    height: 37px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2), &:nth-child(3) {
            top: 14px;
        }
        &:nth-child(4) {
            top: 28px;
        }
    }
    &.open span {
        &:nth-child(1) {
            top: 14px;
            width: 0%;
            left: 50%;
        }
        &:nth-child(2) {
            transform: rotate(45deg);
        }
        &:nth-child(3) {
            transform: rotate(-45deg);
        }
        &:nth-child(4) {
            top: 14px;
            width: 0%;
            left: 50%;
        }
    }
}

@media (max-width: 710px) {
    header {
        padding: 20px 50px; 
        height: 40px;
        nav {
            a {
                display: none;
            }
        }
        .nav-responsiv {
            display: flex;
        }
        img {
            width: 60px;
            height: 60px;
        }
        .nav-responsiv-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
            height: 100vh;
            z-index: -1;
            background-color: var(--background);
            animation: openMenu .3s linear;
            a {
                color: white;
                text-decoration: none;
                font-size: 2rem;
                margin: 2rem 0;
            }
        }
        .close-nav-responsiv-animation {
            /* display: flex; */
            position: absolute;
            bottom: 0px;
            top: 79px;
            left: 0px;
            right: -100%;
            width: 100%;
            height: 100vh;
            background-color: var(--background);
            animation: closeMenu .3s linear;
        }
    }

    @keyframes openMenu {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(0%);
        }
    }

    @keyframes closeMenu {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(100%);
        }
    }
}
  





