$light-blue: #1CDAE6;
$white: #FFFFFF;
$background: #141D2F;
$purple: #9747FF;

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 999;
    background-color: $background;
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        cursor: pointer;
    }
    nav {
        display: flex;
        a {
            color: $white;
            text-decoration: none;
            font-size: 23px;
            margin-left: 50px;
            cursor: pointer;
            &:hover {
                color: $light-blue;
                transition: 0.5s;
            }
            &::after {
                content: '';
                display: block;
                position: relative;
                width: 50px;
                border-bottom: 4px solid transparent;
            }
        }
    }
}

.active::after {
    content: '';
    display: block;
    position: relative;
    width: 50px;
    border-bottom: 4px solid $purple!important;
}

.active {
    color: $light-blue!important;
}




