.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 180px;
    height: 200px;
    border-top: 4px solid var(--light-blue);
    color: var(--white);
    padding: 0 100px 10px 100px;
    position: relative;
    background-color: var(--background);
    .shadow {
        position: absolute;
        left: 0;
        bottom: 0px;
        z-index: -1;
        overflow: hidden;
    }
    .content-left {
        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            cursor: pointer;
        }
        div {
            text-align: center;
            cursor: pointer;
            margin-bottom: 8px;
            &:hover {
                border-bottom: 2px solid var(--light-blue);
                margin-bottom: 6px;
            }
        }
    }
    .content-middle {
        font-size: 23px;
    }
    .icons {
        img {
            margin-left: 30px;
            cursor: pointer;
            transition: 0.2s ease-in;
            &:hover {
                transform: scale(1.5);
                transition: 0.2s ease-in;
            } 
        }
    }
}
