.home-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    .my-profile-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        .profile {
            position: relative;
            img:nth-child(1) {
                width: 36.861vw;
                position: absolute;
                left: -3.778vw;
                top: 3vw;
                z-index: -1;
            }
            img:nth-child(2) {
                width: 38.764vw;
                position: absolute;
                right: -4.444vw;
                top: 0.597vw;
                z-index: -2;
            }
            img:nth-child(3) {
                width: 40vw;
                height: auto;
            }
        }
        .profile-content-right {
            position: relative;
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-left: 2px;
            height: 20vw;
            padding-bottom: 20px;
            padding-top: 5px;
            .pretext-info-profile {
                position: absolute;
                top: 0;
                transform: rotate(-90deg);
                font-size: 4.444vw;
                color: var(--white);
                margin-top: 10%;
                left: -24%;
            }
            .subinfo-profile {
                div:nth-child(1) {
                    font-size: 4.833vw;
                    font-weight: 900;
                    color: var(--white);
                    font-family: 'Poppins';
                    letter-spacing: 6.2px;
                }
                div:nth-child(2) {
                    color: var(--purple);
                    position: absolute;
                    display: flex;
                    font-size: 3.05cqw;
                    font-weight: 600;
                    top: 8vw;
                    letter-spacing: 1px;
                }
            }
            button {
                width: 165px;
                height: 58px;
                border-radius: 10px;
                margin-top: 50px;
                font-size: 23px;
                font-family: "Poppins", sans-serif;
                gap: 10px;
                background-color: var(--light-blue);
                color: var(--white);  
                z-index: 1;
                cursor: pointer;
                transition: 0.2s ease-in;
                border: none;
                &:hover {
                    background-color: var(--purple);
                    width: 185px;
                    height: 68px;
                    transition: 0.2s ease-in;
                    margin-top: 40px;
                }
            }
        }
    }
    .banner {
        position: absolute;
        width: calc(100vw - 10px);
        top: 34vw;
    }
    .info-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        width: 100%;
        padding-left: 3vw;
        box-sizing: border-box;
        margin-top: -3vw;
        .line-info-profile {
            position: absolute;
            left:0;
            width: 10vw;
            height: 4px;
        }
        .info-icons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 2;
            width: 35vw;
            img {
                cursor: pointer;
                transition: 0.2s ease-in;
                width: 2.083vw;
                height: 2.083vw;
                &:hover {
                    transform: scale(1.5);
                    transition: 0.2s ease-in;
                }
            }
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    content:url("/assets/img/email-image.png");
                    width: 23vw;
                    padding-bottom: 4px;
                    &:hover {
                        transform: unset;
                        transition: unset;
                    }
                }
            }
        }
        .scroll {
            display: flex;
            align-items: center;
            margin-top: -10vw;
            writing-mode: vertical-rl;
            .scroll-info {
                color: var(--white);
                font-size: 1.597vw;
                z-index: 1;
            }
            img {
                width: 1.111vw;
                margin-top: 10px;
                margin-right: 4px;
                z-index: 1;
            }
        } 
    }
}

.about-me-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 11%;
    position: relative;
    color: var(--white);
    box-sizing: border-box;
    .scroll-down-shadow {
        position: absolute;
        right: 0;
        width: 30%;
    }
    .content-left {
        display: flex;
        flex-direction: column;
        width: 50%;
        z-index: 1;
    }
    .header-about-me-content {
        font-size: 6.25vw;
        font-family: 'Poppins bold';
    }
    .present-text {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .subinfo-first, .subinfo-second {
        display: flex;
        align-items: center;
        font-size: 16px;
        padding-left: 20px;
        margin-bottom: 20px;
        img {
            width: 34.47px;
            height: 50px;
            object-fit: contain;
            margin-right: 20px;
            transition: 0.2s ease-in;
            &:hover {
                transform: scale(1.3);
                transition: 0.2s ease-in;
            }
        }
    }
    .subinfo-second {
        img {
            width: 42px;
            margin-right: 14px;
        }
    }
    .profile-round-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 37%;
        z-index: 1;
        position: absolute;
        right: 0;
        .profile-round {
            border: 4px solid var(--light-blue);
            border-radius: 100%;
            width: 65%;
        }
        .line-profile-round {
            height: 4px;
            width: 34%;
        }
    }
}


@media only screen and (max-width: 1000px) {
    .home-content {
        .my-profile-container {
            flex-direction: column;
            gap: 20px;
            margin-top: 40px;
            .profile {
                display: flex;
                img:nth-child(1) {
                    width: 87.861vw;
                    left: -12vw;
                }
                img:nth-child(2) {
                    width: 77.764vw;
                    right: -9.444vw;
                    top: -6.403vw;
                    z-index: -2;
                }
                img:nth-child(3) {
                    width: 80vw;
                }
            }
            .profile-content-right {
                z-index: 10;
                margin-top: -18vw;
                .pretext-info-profile {
                    font-size: 7vw;
                }
                .subinfo-profile {
                    div:nth-child(1) {
                        font-size: 7vw !important;
                    }
                    div:nth-child(2) {
                        top: 13vw !important;
                        font-size: 4.63cqw !important;
                        letter-spacing: unset !important;
                    } 
                }
                button {
                    margin-top: 29% !important;
                    font-size: 20px;
                    padding: 15px 30px;
                }
            }
        }
        .banner {
            top: 74vw;
        }
        .info-content {
            margin-top: 5vw !important;
            .line-info-profile {
                width: 15vw !important;
            }
            .info-icons {
                width: 57vw !important;
                justify-content: space-evenly !important;
                margin-left: 8vw;
                p {
                    img {
                        content:url("/assets/img/email.png") !important;
                        width: 8vw !important;
                        height: 8vw !important;
                        &:hover {
                            transform: scale(1.5) !important;
                            transition: 0.2s ease-in !important;
                        }
                    }
                }
                img {
                    width: 8vw !important;
                    height: 8vw !important;
                }
            }
            .scroll  {
                img, p { 
                    display: none;
                }
            }
        }
    }
    .content-left {
        width: 100% !important;
    }
    .about-me-content {
        .header-about-me-content {
            font-size: 32px !important;
        }
        .profile-round-container {
            img {
                display: none !important;
            }
        }
        .subinfo-first, .subinfo-second {
            padding-left: unset !important;
        }
    }
}

@media only screen and (min-width:1600px) {
    .subinfo-profile {
        div:nth-child(2) {
            font-size: 2.92cqw !important;
        }
    }
}

@media  only screen and (min-width:2000px)  {
    button {
        width: 11.458vw !important;
        height: 4.028vw !important;
        font-size: 1.597vw !important;
        border-radius: 0.694vw !important;
        &:hover {
            width: 12.847vw !important;
            height: 4.722vw !important;
        }
    }
    .about-me-content {
        .present-text, .subinfo-first, .subinfo-second {
            font-size: 30px !important;
        }
    }
}