.about-me-section { 
    margin-top: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .profile {
        width: 578px;
        height: 510px;
        position: relative;
        z-index: -1;
        img:nth-child(1) {
            width: 646px;
            position: absolute;
            left: -40px;
            top: 0px;
            z-index: -1;
        }
        img:nth-child(2) {
            width: 515px;
            position: absolute;
            right: -136px;
            top: 95px;
            z-index: -1;
        }
        img:nth-child(3) {
            width: 610px;
            height: 660px;
            margin-left: 60px;
        }
    }

    .profile-content-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 87px;
        width: 725px;
        justify-content: space-between;
        .info-profile {
            cursor: default;
            display: flex;
        }
        .pretext-info-profile {
            color: var(--white);
            font-size: 64px;
            writing-mode: vertical-rl;
            transform: rotate(180deg); 
            margin-right: 20px;
            line-height: 77px;
            letter-spacing: 5px;
        }
        .subinfo-profile {
            display: flex;
            flex-direction: column;
            div:nth-child(1) {
                color: var(--white);
                font-size: 89px;
                font-family: 'Poppins bold';
                letter-spacing: 6.2px;
            }
            div:nth-child(2) {
                color: var(--purple);
                font-size: 58px;
                line-height: 46px;
                padding-top: 8px;
            }
        }
        button {
            width: 165px;
            height: 58px;
            border-radius: 10px;
            margin-top: 50px;
            font-size: 23px;
            padding: 15px 30px;
            gap: 10px;
            background-color: var(--light-blue);
            color: var(--white);  
            z-index: 1;
            cursor: pointer;
            transition: 0.2s ease-in;
            border: none;
            &:hover {
                background-color: var(--purple);
                width: 185px;
                height: 68px;
                transition: 0.2s ease-in;
                margin-top: 40px;
            }
        }
    }
    .banner {
        position: absolute;
        z-index: -2;
        top: 400px;
        width: 100%;
        height: 70vh;
    }
}


.info-content {
    display: flex;
    justify-content: space-between;
    margin-top: 220px;
    z-index: 1;
    .info-icons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 658px;
        img:nth-child(1) {
            margin-left: -46px;
        }
        img {
            cursor: pointer;
            transition: 0.2s ease-in;
            &:hover {
                transform: scale(1.5);
                transition: 0.2s ease-in;
            }
        }
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                cursor: pointer;
                width: 250px;
                padding-bottom: 4px;
                &:hover {
                    transform: unset!important;
                    transition: unset!important;
                }
            }
        }
    }
    .scroll {
        display: flex;
        align-items: center;
        margin-top: -130px;
        margin-right: 70px;
        writing-mode: vertical-rl;
        .scroll-info {
            color: var(--white);
            font-size: 23px;
            z-index: 1;
        }
        img {
            width: 16px;
            margin-top: 10px;
            margin-right: 4px;
            z-index: 1;
        }
    }
}

.scroll-down-shadow {
    width: 250px;
    position: absolute;
    top: 700px;
    right: 0;
}

.about-me-content {
    color: var(--white);
    padding-left: 115px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content-left {
        width: 452px;
    }
    .header-about-me-content {
        font-size: 90px;
        font-family: 'Poppins bold';
    }
    .present-text {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .subinfo-first, .subinfo-second {
        display: flex;
        align-items: center;
        font-size: 16px;
        padding-left: 20px;
        margin-bottom: 20px;
        img {
            width: 34.47px;
            height: 50px;
            object-fit: contain;
            margin-right: 20px;
            transition: 0.2s ease-in;
            &:hover {
                transform: scale(1.3);
                transition: 0.2s ease-in;
            }
        }
    }
    .subinfo-second {
        img {
            width: 42px;
            margin-right: 14px;
        }
    }
    .profile-round-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 680px;
        z-index: 1;
        .profile-round {
            width: 409px;
            height: 409px;
            border: 4px solid var(--light-blue);
            border-radius: 100%;
            margin-right: -190px;
        }
        .line-profile-round {
            width: 267px;
            height: 4px;
        }
    }
}



