<div class="about-me-section">
    <div class="profile">
        <img src="assets/img/profile-shadow-left.png">
        <img src="assets/img/profile-shadow-right.png">
        <img src="assets/img/placeholer-person.png">
    </div>

    <div class="info-profile">
        <div class="pretext-info-profile">I am</div>
        <div class="subinfo-profile">
            <div>Denise Siegl</div>
            <div>FRONTEND DEVELOPER</div>
        </div>
    </div>

    <div class="banner">
        <img src="assets/img/banner-separator.png">
    </div>
    
</div>
