<div class="contact" id="contact">
    <img src="assets/img/line-contact.png">
    <div>Contact</div>
</div>

<div class="contact-content">
    <div class="content-left">
        <div>Got a problem to solve?</div>
        <div>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</div>
        <div>Need a Frontend developer? <span>Contact me!</span></div>
    </div>
    <div class="content-right">
        <form (submit)="sendMail()" ngNativeValidate #form>
            <div class="formfield">
                <input type="name" name="name" placeholder=" " required #nameField 
                [class.error-border]="nameInvalid"
                (invalid)="nameIsInvalid()"
                (input)="nameInvalid=false">
                <label [class.error-label]="nameInvalid">Your name</label>
                <p *ngIf="nameInvalid" class="error-text">Your name is required</p>
                <img *ngIf="nameInvalid" src="assets/img/input-error.png">
            </div>

            <div class="formfield">
              <input type="email" name="email" placeholder=" " required #mailField 
              [class.error-border]="emailInvalid"
              (invalid)="emailIsInvalid()"
              (input)="emailInvalid=false">
              <label [class.error-label]="emailInvalid">Your email</label>
              <p *ngIf="emailInvalid" class="error-text">Your email is required</p>
              <img *ngIf="emailInvalid" src="assets/img/input-error.png">
            </div>

            <div class="formfield">
              <textarea name="message" placeholder=" " required #messageField 
              [class.error-border]="messageInvalid"
              (invalid)="messageIsinvalid()"
              (input)="messageInvalid=false"></textarea>
              <label [class.error-label]="messageInvalid">Your message</label>
              <p *ngIf="messageInvalid" class="error-text">Your message is empty</p>
              <img *ngIf="messageInvalid" src="assets/img/input-error.png">
            </div>

            <div class="button">
                <button type="submit" #sendBtn>Send message :)</button>
            </div>
        </form>
    </div>
</div>

<div (click)="scroll('header')" routerLink="/" class="arrow-up"></div>


