.contact {
    display: flex;
    align-items: center;
    div {
        font-family: 'Poppins bold';
        font-size: 90px;
        color: var(--white)
    }
    img {
        height: 4px;
        margin-right: 60px;
    }
}

.contact-content {
    display: flex;
    justify-content: space-between;
    padding-left: 115px;
    padding-right: 100px;
    .content-left {
        color: var(--white);
        width: 473px;
        div:nth-child(1) {
            font-size: 32px;
            font-family: 'Poppins semibold';
            margin-bottom: 20px;
        }
        div:nth-child(2) {
            margin-bottom: 15px;
        }
        span {
            font-family: 'Poppins semibold';
        }
    }
    .content-right {
        width: 617px;
        form {
            display: flex;
            flex-direction: column;
            height: 440px;
            justify-content: space-between;
            .formfield {
                position: relative;
                .error-text {
                    font-size: 12px;
                    color: var(--red);
                    margin: 1px 0 10px 5px;
                }
                .error-border {
                    border: 1px solid var(--red);
                }
                .error-label {
                    color: var(--red);
                }
                img {
                    position: absolute;
                    right: 14px;
                    top: 11px;
                }
                .succes-border {
                    border: 1px solid var(--green);
                }
                .success-label {
                    color: var(--green);
                }
                .error-box {
                    height: 28px;
                    margin: 0;
                }
            }
            input, textarea {
                font-family: 'Poppins';
                width: 91.6%;
                font-size: 16px;
                outline: none;
                border: 1px solid var(--purple);
                border-radius: 10px;  
                padding: 15px 25px;
                color: var(--white);
                transition: 0.2s ease-out;
                background-color: #141D2F;
                line-height: 17px;
                 &:hover {
                    border: 1px solid var(--turquoise);
                }
            }
            textarea {
                height: 160px;
                resize: none;  
                margin-bottom: -6px
            }
            input:focus, textarea:focus {
                border-color: var(--purple);  
                &:hover {
                    border-color: var(--turquoise);
                }
            }
            input:focus + label, textarea:focus + label {
                color: var(--purple);
                top: 0;
                transform: translateY(-50%) scale(.9);
                background-color: var(--background);
            }
            input:focus:hover + label, textarea:focus:hover + label {
                color: var(--turquoise);
            }
            input:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label {
                top: 0;
                transform: translateY(-50%) scale(.9);
                color: var(--purple);
            }
            input:not(:placeholder-shown)[required] + label[required] {
                color: var(--red);
            }
            input:not(:placeholder-shown):hover + label, textarea:not(:placeholder-shown):hover + label {
                color: var(--turquoise);
            } 
            input:-webkit-autofill, input:-webkit-autofill:focus {
                transition: background-color 600000s 0s, color 600000s 0s;
            }
            input[data-autocompleted] {
                background-color: transparent !important;
            }
            label {
                position: absolute;
                font-size: 16px;
                left: 0;
                top: 25px;
                transform: translateY(-50%);
                color: var(--white);
                padding: 0 4.8px;
                margin: 0 8px;
                transition: .2s ease-out;
                transform-origin: left top;
                pointer-events: none;
                background-color: var(--background);
            }
            .button {
                width: 617px;
                display: flex;
                justify-content: center;
                button {
                    width: 241px;
                    height: 58px;
                    border-radius: 10px;
                    font-size: 23px;
                    padding: 15px 30px;
                    background-color: var(--light-blue);
                    color: var(--white);  
                    z-index: 1;
                    cursor: pointer;
                    transition: 0.2s ease-in;
                    border: none;
                    &:hover {
                        background-color: var(--purple);
                        width: 261px;
                        height: 68px;
                        transition: 0.2s ease-in;
                        margin: -5px;
                    }
                } 
            }
        }
    }
}

.arrow-up {
    margin-top: 50px;
    width: 39px;
    height: 39px;
    float: right;
    margin-right: 100px;
    cursor: pointer;
    background-image: url('../../assets/img/arrow-up.png');
    &:hover {
        content: url('../../assets/img/arrow-up-hover.png');
    }
}
