<div class="contact" id="contact" #contact data-aos="zoom-in">
    <img src="assets/img/line-contact.png">
    <div>Contact</div>
</div>

<div class="contact-content">
    <div class="content-left" data-aos="zoom-in" data-aos-offset="200">
        <div>Got a problem to solve?</div>
        <div>Contact me through this form. I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</div>
        <div>Need a Frontend developer? 
            <span>Contact me!</span>
        </div>
    </div>

    <form [formGroup]="contactForm" (submit)="sendMail()" #myForm>
        <div class="formfield" data-aos="zoom-in" data-aos-offset="200">
            <input type="name" placeholder=" " formControlName="name"
                [class.error-border]="(contactForm.get('name')?.hasError('required') && isSubmitted && !emailSent) ||
                (contactForm.get('name')?.hasError('minlength') && isSubmitted && !emailSent)"
                [class.succes-border]="contactForm.get('name')?.valid">
            <label [class.success-label]="contactForm.get('name')?.valid">Your name</label>

            <p class="error-box">
                <span *ngIf="(contactForm.get('name')?.hasError('required') && isSubmitted && !emailSent) ||
                (contactForm.get('name')?.hasError('minlength') && isSubmitted && !emailSent)" 
                class="error-text">Your name should have at least 3 letters
                </span>
            </p>
            
            <img *ngIf="(contactForm.get('name')?.hasError('required') && isSubmitted && !emailSent) ||
                (contactForm.get('name')?.hasError('minlength') && isSubmitted && !emailSent)"  
                src="assets/img/input-error.png">
            <img *ngIf="contactForm.get('name')?.valid"  
                src="assets/img/input-success.png">
        </div>

        <div class="formfield" data-aos="zoom-in" data-aos-offset="200">
            <input type="email" placeholder=" " formControlName="email"
                [class.error-border]="(contactForm.get('email')?.hasError('required') && isSubmitted && !emailSent) ||
                (contactForm.get('email')?.hasError('email') && isSubmitted && !emailSent)"
                [class.succes-border]="contactForm.get('email')?.valid">
            <label [class.success-label]="contactForm.get('email')?.valid">Your email</label>

            <p class="error-box">
                <span  
                *ngIf="(contactForm.get('email')?.hasError('required') && isSubmitted && !emailSent) ||
                (contactForm.get('email')?.hasError('email') && isSubmitted && !emailSent)" 
                class="error-text">Your email is not valid
                </span>
            </p>
           
            <img *ngIf="(contactForm.get('email')?.hasError('required') && isSubmitted && !emailSent) ||
                (contactForm.get('email')?.hasError('email') && isSubmitted && !emailSent)" 
                src="assets/img/input-error.png">
            <img *ngIf="contactForm.get('email')?.valid"  
                src="assets/img/input-success.png">
        </div>

        <div class="formfield" data-aos="zoom-in" data-aos-offset="200">
            <textarea placeholder=" "  formControlName="message"
                [class.error-border]="(contactForm.get('message')?.hasError('required') && isSubmitted && !emailSent) ||
                (contactForm.get('message')?.hasError('minlength') && isSubmitted && !emailSent)"
                [class.succes-border]="contactForm.get('message')?.valid">
            </textarea>
            <label [class.success-label]="contactForm.get('message')?.valid">Your message</label>

            <p class="error-box">
                <span 
                    *ngIf="(contactForm.get('message')?.hasError('required') && isSubmitted && !emailSent) ||
                    (contactForm.get('message')?.hasError('minlength') && isSubmitted && !emailSent)" 
                    class="error-text">{{messageErrorText}}
                </span>
            </p>
            <img *ngIf="(contactForm.get('message')?.hasError('required') && isSubmitted && !emailSent) ||
                (contactForm.get('message')?.hasError('minlength') && isSubmitted && !emailSent)" 
                src="assets/img/input-error.png">
            <img *ngIf="contactForm.get('message')?.valid"  
                src="assets/img/input-success.png">
        </div>

        <div class="checkbox-privacy-policy" data-aos="zoom-in" data-aos-offset="40">
            <div class="checkbox-text">
                <div class="checkbox" (click)="toggleChecked()">
                    <div [class.checkbox-selected]="isChecked" #checkboxSelector></div>
                </div>
                <a class="text-imprint" routerLink="/imprint" target="_blank">I've read the
                    <span class="privacy-link">privacy policy</span> 
                    and agree to the processing of my data as outlined.
                </a>
            </div>

            <p class="error-box">
                <span
                    *ngIf="(!isChecked && contactForm.valid && isSubmitted)" class="error-text">Please accept the privacy policy.
                </span>
            </p>
        </div>
    
        <div class="button" data-aos="zoom-in" data-aos-offset="10">
            <button [disabled]="(isSubmitted && emailSent) || (contactForm.invalid && isSubmitted) || (!isChecked && isSubmitted)" type="submit">Send message</button>
        </div>

        <div *ngIf="isSubmitted && emailSent" class="popup-bg">
            <div class="contact-popup">
                <span *ngIf="emailSent">Email successfully sent</span>
                <span *ngIf="!emailSent && contactForm.valid">Email not sent.<br>Please try again later</span>
            </div> 
        </div>
    </form>
    
    <img class="shadow"src="assets/img/shadow-footer.png">
    <a href="#">
        <div class="arrow-up"></div>
    </a>
</div>



