@mixin buttonStyle() {
    font-family: "Poppins", sans-serif;
    width: 152px;
    height: 58px;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 23px;
    gap: 10px;
    background-color: var(--purple);
    color: var(--white);  
    z-index: 1;
    cursor: pointer;
    transition: 0.2s ease-in;
    border: none;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    padding: 0 10% 0 8.8%;
    position: relative;
    margin-bottom: 11%;
    margin-top: 11%;
    scroll-margin-top: 180px;
    .headline-portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--white);
        position: relative;
        div {
            width: 75vw;
            background-color: #4b47ff;
            position: absolute;
            right: -10.069vw;
            top: 50%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border: 2px solid var(--purple);
        }
        span {
            font-size: 6.25vw;
            font-family: 'Poppins bold';
            display: inline-block;
            padding: 0 50px;
            z-index: 15;
            background-color: #141d2f;
        }
    }
    .subtext-portfolio {
        color: var(--white);
        text-align: center;
        font-size: 16px;
    }
    .project {
        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 100px;
        width: 99%;
        justify-content: space-between;
        box-sizing: border-box;
        img {
            width: 43.056vw;
            height: 23.542vw;
            object-fit: contain;
        }
        .content-right, .content-left {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 52%;
            div:nth-child(1) {
                color: var(--purple);
                font-size: 32px;
                font-family: 'Poppins semibold';
            }
            div:nth-child(2) {
                color: var(--light-blue);
                font-size: 23px;
            }
            div:nth-child(3) {
                color: var(--white);
                font-size: 16px;
            }
        }
        .content-left {
            text-align: right;
        } 
        .buttons {
            display: flex;
            .button-right, button {
                @include buttonStyle();
                margin-right: 50px;
                margin-left: 0;
                &:hover {
                    background-color: var(--light-blue);
                    transition: 0.2s ease-in;
                }
            }
            .button-left, button {
                @include buttonStyle();
                margin-left: 50px;
                margin-right: 0;
            }
            .github-btn {
                background-color: var(--background);
                border: 1px solid var(--light-blue);
                &:hover {
                    background-color: var(--light-blue);
                }
            }
        }
    }
    .shadow-left, .shadow-right {
        position: absolute;
        z-index: -1;
        width: 30%;
    }
    .shadow-left {
        top: 75vw;
        left: 0;
    }
    .shadow-right {
        top: 63vw;
        right: 0;
    }
}


@media only screen and (max-width: 1000px) {
    .portfolio-container {
        margin-top: 173px;
        scroll-margin-top: 100px;
        .headline-portfolio {
            span {
                font-size: 32px !important;
            }
        }
        .project {
            flex-direction: column;
            margin-top: unset !important;
            margin-bottom: 45px !important;
            img {
                width: 320px;
                height: 240px;
            }
            .content-left, .content-right {
                width: 100%;
                text-align: center;
                margin-top: -25px !important;
            }
            .content-left {
                order: 2;
            }
            .content-right {
                order: 1;
            }
            .buttons {
                justify-content: space-evenly !important;
                margin-top: 20px !important;
                .button-right, .button-left {
                    width: 120px;
                    height: 47px;
                    font-size: 20px;
                    margin: unset !important;
                }
            }
        }
    } 
}

@media only screen and (min-width: 2000px) {
    button {
        width: 11.458vw !important;
        height: 4.028vw !important;
        font-size: 1.597vw !important;
        border-radius: 0.694vw !important;
    }
    .portfolio-container {
        margin-top: 170px;
        scroll-margin-top: 250px;
        .subtext-portfolio {
            font-size: 30px !important;
        }
        .project {
            .content-right, .content-left {
                div:nth-child(1) {
                    font-size: 50px !important;
                }
                div:nth-child(2), div:nth-child(3) {
                    font-size: 30px !important;
                }
            }
        }
    }
}

