<div class="portfolio-container" #myportfolio id="portfolio">
    <div data-aos="zoom-in" data-aos-offset="200" class="headline-portfolio">
        <div></div>
        <span>Portfolio</span>
    </div>

    <div data-aos="zoom-in" data-aos-offset="200" class="subtext-portfolio">This page is a sample of my work - please feel free to try them out.</div>

    <div *ngFor="let project of projects; let i = index">
        <div data-aos="slide-right" data-aos-offset="200" class="project" *ngIf="i % 2 == 0">
            <img src="{{ project.image }}">
            <div class="content-right">
                <div>{{ project.title }}</div>
                <div>{{ project.languages }}</div>
                <div>{{ project.description }}</div>
                <div class="buttons">
                    <a href="{{ project.linkLiveTest }}" target="_blank">
                        <button class="button-right">Live test</button>
                    </a>
                    <a href="{{ project.linkGitHub }}" target="_blank">
                        <button class="github-btn button-right">Github</button>
                    </a>
                </div>
            </div>
        </div>

        <div data-aos="slide-left" data-aos-offset="200" class="project" *ngIf="i % 2 != 0">
            <div class="content-left">
                <div>{{ project.title }}</div>
                <div>{{ project.languages }}</div>
                <div>{{ project.description }}</div>
                <div class="buttons">
                    <a href="{{ project.linkLiveTest }}" target="_blank">
                        <button class="button-left">Live test</button>
                    </a>
                    <a href="{{ project.linkGitHub }}" target="_blank">
                        <button class="github-btn button-left">Github</button>
                    </a>
                </div>
            </div>
            <img src="{{ project.image }}">
        </div>
    </div>
    <img class="shadow-left" src="assets/img/shadow-left-portfolio.png">
    <img class="shadow-right" src="assets/img/shadow-right-portfolio.png">
</div>
