<div class="headline-portfolio">
    <img src="assets/img/line-left-portfolio.png">
    <div>Portfolio</div>
    <img src="assets/img/line-right-portfolio.png">
</div>

<div class="subtext-portfolio">This page is a sample of my work - please feel free to try them out.</div>

<div class="first-project">
    <img src="assets/img/join-photo.png">
    <div class="content-right">
        <div>Join</div>
        <div>Angular | TypeScript | HTML | CSS | Firebase</div>
        <div>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</div>
    </div>
</div>
