<div class="my-skills-container">
    <div class="skills-icons">
        <div class="icons" *ngFor="let skill of skills;  let i=index">
            <img src="assets/img/{{ skill.icon }}">
            <div>{{ skill.name }}</div>
        </div>
        <div class="last-column">
            <div class="icons">
                <img src="assets/img/scrum-icon.png">
                <div>Scrum</div>
            </div>
            <div class="icons">
                <img src="assets/img/material-design-icon.png">
                <div>Material<br>Design</div>
            </div>
        </div>
    </div>
    <div class="my-skills">
        <div id="skills">My skills</div>
        <div>I have gained experience in building projects with various front end technologies and concepts.</div>
        <button (click)="scroll('contact')" routerLink="/contact">Get in touch</button>
    </div>
    <img class="line-my-skills" src="assets/img/line-my-skills.png">
</div>

<img class="shadow-skills" src="assets/img/shadow-skills.png">

