.my-skills-container {
    padding-top: 190px;
    padding-right: 101px;
    display: flex;
    justify-content: space-between;
    .skills-icons {
        padding-left: 98px;
        padding-top: 37px;
        display: flex;
        gap: 36px;
        width: 650px;
        height: 414px;
        flex-wrap: wrap;
        z-index: 1;
        .icons {
            margin-bottom: 40px;
            img {
                width: 55px;
                height: 55px;
                object-fit: contain;
                margin-right: 40px;
                margin-left: 40px;
                transition: 0.1s ease-in;
                &:hover {
                    transform: scale(1.2);
                    transition: 0.1s ease-in;
                }
            }
            div {
                color: var(--white);
                text-align: center;
            }
        }
    }
    .my-skills {
        color: var(--white);
        text-align: center;
        div:nth-child(1) {
            font-size: 90px;
            font-family: 'Poppins bold';
        }
        div:nth-child(2) {
            font-size: 16px;
            width: 471px;
        }
        button {
            width: 200px;
            height: 58px;
            border-radius: 10px;
            margin-top: 50px;
            font-size: 23px;
            padding: 15px 30px;
            gap: 10px;
            background-color: var(--light-blue);
            color: var(--white);  
            z-index: 1;
            cursor: pointer;
            transition: 0.2s ease-in;
            border: none;
            &:hover {
                background-color: var(--purple);
                width: 220px;
                height: 68px;
                transition: 0.2s ease-in;
                margin-top: 40px;
            }
        }
    }
    .line-my-skills {
        position: absolute;
        top: 1691px;
        right: 0;
        width: 58px;
        height: 4px;
    }
}

.shadow-skills {
    position: absolute;
    top: 1660px;
    width: 300px;
    height: 800px;
}
