<div class="my-skills-container" #myskills>
    <div class="skills-icons">
        <div class="icons" *ngFor="let skill of skills; let i = index">
            <img #image src="assets/img/{{ skill.icon }}" (mouseenter)="isHover = i" (mouseleave)="isHover = -1"
            [style.filter]="isHover == i ? skill.color_hover : ''">
            <div>{{ skill.name }}</div>
        </div>
    </div>
    <div class="my-skills">
        <div id="skills">My skills
            <img class="line-my-skills" src="assets/img/line-my-skills.png">
        </div>
        <div>I have gained experience in building projects with various front end technologies and concepts.</div>
        <button (click)="scroll('contact')" routerLink="/contact">Get in touch</button>
    </div>
    
</div>

<img class="shadow-skills" src="assets/img/shadow-skills.png">

