<div class="my-skills-container">
    <div class="skills-icons">
        <div class="icons">
            <img src="assets/img/angular-icon.png">
            <div>Angular</div>
        </div>
        <div class="icons">
            <img src="assets/img/typescript-icon.png">
            <div>TypeScript</div>
        </div>
        <div class="icons">
            <img src="assets/img/javascript-icon.png">
            <div>JavaScript</div>
        </div>
        <div class="icons">
            <img src="assets/img/html-icon.png">
            <div>HTML</div>
        </div>
        <div class="icons">
            <img src="assets/img/firebase-icon.png">
            <div>Firebase</div>
        </div>
        <div class="icons">
            <img src="assets/img/git-icon.png">
            <div>GIT</div>
        </div>
        <div class="icons">
            <img src="assets/img/css-icon.png">
            <div>CSS</div>
        </div>
        <div class="icons">
            <img src="assets/img/rest-api-icon.png">
            <div>Rest-Api</div>
        </div>
        <div class="last-column">
            <div class="icons">
                <img src="assets/img/scrum-icon.png">
                <div>Scrum</div>
            </div>
            <div class="icons">
                <img src="assets/img//material-design-icon.png">
                <div>Material<br>Design</div>
            </div>
        </div>
    </div>
    <div class="my-skills">
        <div>My Skills</div>
        <div>I have gained experience in building projects with various front end technologies and concepts.</div>
        <button>Get in touch</button>
    </div>
    <img class="line-my-skills" src="assets/img/line-my-skills.png">
</div>

<img class="shadow-skills" src="assets/img/shadow-skills.png">

