.my-skills-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 8.8%;
    position: relative;
    margin-top: 10%;
    .skills-icons {
        padding-top: 37px;
        display: flex;
        gap: 2.5vw;
        flex-wrap: wrap;
        z-index: 1;
        .icons {
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 55px;
                height: 55px;
                object-fit: contain;
                margin: 0 2.778vw 1vw 2.778vw;
                &:hover {
                    transform: scale(1.2);
                }
            }
            div {
                color: var(--white);
                text-align: center;
            }
        }
    }
    .my-skills {
        color: var(--white);
        text-align: center;
        div:nth-child(1) {
            font-size: 6.25vw;
            font-family: 'Poppins bold';
            display: flex;
            align-items: center;
            justify-content: center;
            .line-my-skills {
                position: absolute;
                right: 0;
                width: 10.5vw;
                height: 4px;
            }
        }
        div:nth-child(2) {
            font-size: 16px;
            width: 32.708vw;
        }
        button {
            width: 200px;
            height: 58px;
            border-radius: 10px;
            margin-top: 50px;
            font-size: 23px;
            padding: 15px 30px;
            gap: 10px;
            background-color: var(--light-blue);
            color: var(--white);  
            z-index: 1;
            cursor: pointer;
            transition: 0.2s ease-in;
            border: none;
            &:hover {
                background-color: var(--purple);
                width: 220px;
                height: 68px;
                transition: 0.2s ease-in;
                margin-top: 40px;
            }
        }
    }
    .shadow-skills {
        position: absolute;
        left: 0;
        top: 0;
        width: 30%;
    }
}


@media only screen and (max-width: 1000px) {
    .my-skills-container {
        flex-direction: column-reverse;
        .skills-icons {
            justify-content: space-evenly;
        }
        .my-skills {
            div:nth-child(1) {
                font-size: 45px !important;
                padding: 0 3.32%;
            }
            div:nth-child(2) {
                width: unset !important;
            }
            button {
                position: absolute !important;
                bottom: -72px;
                left: 50%;
                transform: translate(-50%);
                margin: 0 !important;
            }
            
        }
    }
}


@media  only screen and (min-width: 2000px)  {
    button {
        width: 11.458vw !important;
        height: 4.028vw !important;
        font-size: 1.597vw !important;
        border-radius: 0.694vw !important;
        &:hover {
            width: 12.847vw !important;
            height: 4.722vw !important;
        }
    }
    .my-skills-container {
        .skills-icons {
            .icons {
                img {
                    width: 80px !important;
                    height: 80px !important;
                }
            }
            div {
                font-size: 26px !important;
            }  
        }
        .my-skills {
            div:nth-child(2) {
                font-size: 30px !important;
            }
        }
    }
}


