.imprint {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    font-family: 'Poppins', sans-serif;
    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        margin-top: 10vw;
        gap: 10px;
        .imprint-title {
            font-size: 3.25vw;
            font-family: "Poppins bold";
        }
        a {
            text-decoration: none;
            color: var(--purple);
            cursor: pointer;
        }
        p, .privacy {
            margin: 6px;
            font-size: 16px;
        }
        h2 {
            font-size: 35px;
        }
    }
}


@media only screen and (max-width: 1000px) {
    .imprint {
        .content {
            margin-top: 20vw !important;
            .imprint-title {
                font-size: 20px !important;
            }
        }
        h2 {
            font-size: 25px !important;
        }
    }
}

@media only screen and (min-width: 2000px) {
    .imprint {
        .content {
            p, .privacy {
                font-size: 30px !important;
            }
        }
        h2 {
            font-size: 50px !important;
        }
    }
    
}