.imprint {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    font-family: 'Poppins', sans-serif;

    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        margin-top: 140px;
        gap: 10px;
        a {
            text-decoration: none;
            color: var(--purple);
            cursor: pointer;
        }

        p {
            margin: 6px;
        }
    }
}