* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    cursor: default;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #141D2F;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #12f7ff;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins bold';
    src: url('assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins semibold';
    src: url('assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

:root {
    --light-blue: #00BEE8;
    --white: #FFFFFF;
    --background: #141D2F;
    --purple: #9747FF;
    --red: #E61C40;
    --green: #70E61C;
    --turquoise: #1CDAE6;
}

